:root {
    --color1: #E8674F;
    --color2: #F5D17F;
    --color3: #ffffff;
    --color4: #403D38;
    --color5: #79B1BC;
    --color6: #403D38;
}

html {
    border-top: 4px solid var(--color1);
}

body {
    background-color: var(--color3);
    font-family: 'Montserrat', 'sans-serif';
}

div {
    padding: 2px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color1);
}

footer {
    position: flex;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    color: var(--color4);
    background-color: var(--color6);
    text-align: center;
    font-size: 15px;
}

button {
    background-color: var(--color2);
    color: var(--color1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.5s;
}

a:hover {
    text-decoration: none;
    color: var(--color1);
}

.btm:focus {
    text-decoration: none;
}

.project-name {
    color: var(--color1);
}

.pomodoro-clock {
    font-size: 80px;
    font-weight: bold;
    color: var(--color6);
}

.card-padding {
    padding-bottom: 20px;
}


.buttomToogleTimer {
    background-color: var(--color1);
    color: var(--color3);
    border: 1px solid var(--color1);
}

.btm-pomodoro {
    background-color: var(--color1);
    color: var(--color3);
    border: 1px solid var(--color1);
}

.btm-shortbreak {
    background-color: var(--color2);
    color: var(--color3);
    border: 1px solid var(--color2);
}

.btm-longbreak {
    background-color: var(--color5);
    color: var(--color3);
    border: 1px solid var(--color5);
}

.footer-a {
    background-color: var(--color3);
}


.worktip {
    color: var(--color6);
    font-size: 20px;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

input[type=number]:hover {
    border-color: var(--color4);
}

.input-pomodoro {
    color: var(--color1);
}

.input-shortbreak {
    color: var(--color2);
}

.input-longbreak {
    color: var(--color5);
}
