:root {
    --color1: #412b76; 
    --color2: #2ee8b6; 
    --color3: #ffffff; 
    --color4: #2ee8b6; 
}

html {
    border-top: 4px solid var(--color1);
}

body {
    background-color: var(--color3);
}

div {
    padding: 30px;
}

header, footer {
    display: flex;
    flex-direction: column;
    color: var(--color1);
    font-family: 'Montserrat', 'sans-serif';
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color1);
    font-family: 'Montserrat', 'sans-serif';
}

button {
    background-color: var(--color2);
    color: var(--color1);
    border: 1px solid var(--color2);
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
    transition-duration: 0.5s;
}

button:hover {
    /* opacity: 0.7; */
    background-color: var(--color3);
    color: var(--color1);
    border: 1px solid var(--color2);
}

.active {
    background-color: var(--color1);
    color: var(--color3);
    border: 1px solid var(--color1);
}

.pomodoro-clock {
    font-size: 80px;
    font-weight: bold;
    color: var(--color1);
}


.buttomToogleTimer {
    background-color: var(--color1);
    color: var(--color3);
    border: 1px solid var(--color1);
}

.worktip {
    color: var(--color1);
    font-size: 20px;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Add a var(--color3) background color to the top navigation */
.topnav {
    background-color: var(--color3);
    padding-right: 30px;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: var(--color1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: var(--color4);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

form {
    display: flex;
    flex-direction: column;
    color: var(--color1);
    font-family: 'Montserrat', 'sans-serif';
}

input {
    width: 100%;
    padding: 12px 20px;
    font-size: 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid var(--color2);
    background-color: var(--color2);
    border-radius: 3px;
}

input[type=number]:hover {
    border-color: var(--color4);
}
